<!DOCTYPE html>
<html lang="en">
    <head>

	<title>Wasp - the door house</title>
	<%-include("partials/hsession.html")%>
	<style>
		a{
			color:white;
		}
		a:hover{
			color:#58575B;
		}
		.btn-purpledark:hover{
			background-color:#58575B;
			border-color:#58575B;
		}
	</style>
    </head>
    <body style="background-image:url('/imagens/login.jpg'); background-repeat:no-repeat; background-size:cover;">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5 bg-greyblack">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Crie uma Conta</h3></div>
                                    <div class="card-body">
                                        <form method="POST">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control bg-greydark" id="inputFirstName" type="text" placeholder="Enter your first name" />
                                                        <label for="inputFirstName">Primeiro nome</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control bg-greydark" id="inputLastName" type="text" placeholder="Enter your last name" />
                                                        <label for="inputLastName">Ultimo nome</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control bg-greydark" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email </label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control bg-greydark" id="inputPassword" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword">Senha</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control bg-greydark" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">Confirmação da Senha</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><a class="btn btn-purpledark btn-block text-light" href="login.html">Criar conta</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="/login">Já possui uma conta?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-dark mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; RC FINTECH NEWS 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
